<nav class="sidebar">
    <h1>YOURLOGO</h1>
    <a routerLink="/dashboard/pad"  routerLinkActive="active">Dashboard</a>
    <a routerLink="/users"          routerLinkActive="active">Users</a>
    <a routerLink="/documents"      routerLinkActive="active">Documents</a>
    <a routerLink="/photos"         routerLinkActive="active">Photos</a>
    <a routerLink="/hierarchy"      routerLinkActive="active">Hierarchy</a>
    <a></a>
    <a routerLink="/message"        routerLinkActive="active">Message</a>
    <a routerLink="/help"           routerLinkActive="active">Help</a>
    <a routerLink="/setting"        routerLinkActive="active">Setting</a>
</nav>
